@import url(//fonts.googleapis.com/css?family=Quicksand);

body{
    background-color: #efefef;
}

.bg-light{
    /* background: linear-gradient(88.59deg, #5F2C82 -4.62%, rgba(96, 45, 131, 0.54) 185.84%); */
    background-image: url('/assets/images/logo/Header_dashboard.png');
    background-size: 100%;
}

.bg-primarys{
    background-image: url('/assets/images/logo/dashboard.png');
    background-size: 100%;
    height: 642px;
    background-repeat: no-repeat;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(255, 0, 179);
}

.headlogo{
    width:15%;
    color:white;
}
.headlogo:hover{
    width:15%;
    background-image: url('assets/image/logo/Inferno_type_co.png');
}


img.header{
    /* position: absolute; */
    width: 100%;
    height: 70%;
    padding: 0px;
}



/* LAYERONE */
img.title{
    /* position: absolute; */
    width: 50%;
    padding: 0px;

}
p.subtitle{
    width: 40%;
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 37px;
    text-align: center;
    color: #ffffff;
}
.btn-black{
    background: linear-gradient(88.59deg, #5F2C82 -4.62%, rgba(96, 45, 131, 0.54) 185.84%);
    box-sizing: border-box;
    border-radius: 100px;
    color: #fff;
    width: 10%;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}
.btn-black:hover{
    background: linear-gradient(88.59deg, rgb(65, 29, 88) -4.62%, rgba(80, 36, 109, 0.54) 185.84%);
    box-sizing: border-box;
    border-radius: 100px;
    color: #fff;
    width: 10%;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}

.btn-logout{
    background: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    color: #fff;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    border: 3px solid #fff;
    border-radius: 100px;
}
.btn-logout:hover{
    background: rgba(103, 0, 112, 0.555);
    box-sizing: border-box;
    color: #fff;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    border: 3px solid rgb(255, 0, 191);
    border-radius: 100px;
}

/* LAYER 2 */
img.title2{
    /* position: absolute; */
    width: 80%;
    padding: 40px;
}
img.title3{
    /* position: absolute; */
    width: 80%;
    padding-top: 15%;
    align-items: baseline;

}
.btn-black2{
    background: linear-gradient(88.59deg, #5F2C82 -4.62%, rgba(96, 45, 131, 0.54) 185.84%);
    box-sizing: border-box;
    border-radius: 100px;
    color: #fff;
    width: 30%;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}
.btn-black2:hover{
    background: linear-gradient(88.59deg, rgb(65, 29, 88) -4.62%, rgba(80, 36, 109, 0.54) 185.84%);
    box-sizing: border-box;
    border-radius: 100px;
    color: #fff;
    width: 30%;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}


/* ADMIN PAGE */
.adminpage{
    margin-top: 100px;
}

img.headerlogo{
    background-image: url('assets/images/logo/Inferno_type_whi.png');
}
.btn-logout2{
    background: rgba(150, 0, 117, 0.993);
    box-sizing: border-box;
    color: #fff;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    border: 3px solid rgb(255, 0, 234);
    border-radius: 100px;
    text-decoration: none;
}
.btn-logout2:hover{
    background: rgb(51, 0, 56);
    box-sizing: border-box;
    color: #fff;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    border: 3px solid rgb(255, 31, 199);
    border-radius: 100px;
    text-decoration: none;
}
.col-15{
    width: 15%;
}

.col-25{
    width: 25%;
}
.col-75 {
    width: 75%;
    padding-right: 30px;
}


.table{
    border-radius: 15px;
    border: 1px solid black;
}
.table-head{
    background-color: #600065;
    color: #fff;
}
.table-body{
    background-color: #ffa6fb;
    color: rgb(63, 63, 63);
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 1120px;
    height: 150px;
    float: left;
    margin: 10px 10px 10px 10px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fff; 
}
    
label{
    padding: 12px 12px 12px 0;
    margin-top: 15px;
    font-size: 18px;
    display: inline-block;
  }
.sidetitle{
        padding: 0px 12px 12px 30px;
        margin-top: 15px;
        font-size: 21px;
        display: inline-block;
}
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #FF00A8;
    border-radius: 10px;
    margin-top: 15px;
    resize: vertical;
  }
  input[type=submit] {
    background-color:#ed145b;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    margin-top:90px;
    margin: auto;
    cursor: pointer;
    float: right;
  }

  .savedata{
      margin-left: 10px;
  }

  .headtitle{
      font-size: 150px;
      color: #fff;
      font-family: Quicksand;
      margin-bottom: 0px;
  }
  .headsubtitle{
    margin-top: -80px;
    font-size: 30px;
    color: #f7bdff;
    font-family: century gothic;
}

.btn-dashboard{
    background: rgba(150, 0, 117, 0.993);
    box-sizing: border-box;
    color: #fff;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    border: 3px solid rgb(255, 0, 234);
    border-radius: 100px;
    text-decoration: none;
    width: 180px;
}
.btn-dashboard:hover{
    background: rgb(51, 0, 56);
    box-sizing: border-box;
    color: #fff;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    border: 3px solid rgb(255, 31, 199);
    border-radius: 100px;
    text-decoration: none;
}