
body {
  margin: 0;
  padding: 0;
  background-color: #ff6b6b;
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 80px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #f7fff7;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}
#register .container #register-row #register-column #register-box {
  margin-top: 50px;
  max-width: 600px;
  height: 420px;
  border: 1px solid #f7fff7;
  background-color: #EAEAEA;
}
#register .container #register-row #register-column #register-box #register-form {
  padding: 20px;
}
#register .container #register-row #register-column #register-box #register-form #register-link {
  margin-top: -85px;
}
